* {
    margin: 0px;
    padding: 0px;
}

.A1 {
    text-decoration: none;
}

.L1 {
    list-style: none;
}

li {
    list-style: none;
}

.a1 {
    text-decoration: none;
    color: lightgray;
}

.a1:hover {
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 92);
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 7px 7px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #cd9854;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.eng {
    color: gray;
    text-decoration: none;
}

.B1 {
    margin-top: 20px;
    width: 130px;
    padding: 10px;
    border: none;
    background-color: #cd9854;
    color: white;
}

.B1:hover {
    background-color: rgb(216, 145, 12);
}

.A2 {
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

.A2:hover {
    color: gray;
}

.S2 {
    font-size: 25px;
}

.P1 {
    color: gray;
    font-size: 20px;
}

.P1:hover {
    color: gray;
}

#I1:hover {
    transition: 1s;
    transform: scale(1.5);
}

.A3 {
    text-decoration: none;
    color: #cd9854;
    font-size: 20px;
}

.A3:hover {
    color: rgb(207, 140, 17);
}

.P2 {
    color: gray;
    font-size: 20px;
    padding-top: 10px;
}

.L1 {
    border: none;
    background-color: white;
    color: black;
    font-size: 13px;
}

.P3 {
    font-size: 30px;
    color: white;
}

#email {
    padding: 10px;
    width: 400px;
    border: none;
}

.BUT {
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
}

.BUT:hover {
    background-color: rgb(181, 120, 8);
    color: white;
}

.Q1 {
    font-size: 25px;
    color: #cd9854;
}

.s4 {
    color: rgb(220, 220, 220);
}

.IC {
    background-color: #cd9854;
    color: white;
    width: 400px;
    height: 200px;
}

.NOW {
    position: absolute;
    left: 8%;
    top: 30%;
    color: white;
}

.h2 {
    font-size: 45px;
    padding-bottom: 10px;
}

.but1 {
    border: none;
    padding: 10px;
    width: 120px;
    font-size: 1rem;
    color: white;
    background-color: #cd9854;
}

.but1:hover {
    background-color: rgb(199, 105, 38);
}

.WON {
    position: absolute;
    left: 45%;
    top: 20%;
    color: white;
}

.OWN {
    position: absolute;
    top: 25%;
    left: 13%;
    color: aliceblue;
}

.h9 {
    font-size: 45px;
    color: #cd9854;
}

#blog1:hover {
    box-shadow: 0px 0px 10px 0px black;
}

#blog2:hover {
    box-shadow: 0px 0px 10px 0px black;
}

#blog3:hover {
    box-shadow: 0px 0px 10px 0px black;
}

.para {
    border: right;
    margin-top: 15px;
}

.Q2:hover {
    color: rgb(174, 123, 29);
}

.main {
    display: flex;
    z-index: 10;
}

#bg {
    background-color: #cd9854;
    position: sticky;
    top: 0;
    z-index: 99;
}

.graph {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.graph:hover {
    color: white;
}

.M1 {
    position: absolute;
    top: 778px;
    left: 13%;
}

h5 {
    font-size: 2rem;
}

.M2 {
    position: absolute;
    top: 790px;
    left: 65%;
    text-align: center;
}

.but2 {
    border: none;
    padding: 10px;
    width: 120px;
    color: white;
    background-color: #cd9854;
}

#footer li {
    list-style: none;
}

#pro li {
    list-style: none;

}

.two {
    font-size: 1.6rem;
    color: black;
}

.card-noti {
    background: #cd9854;
    color: #fff;
    border-radius: 50%;
    height: 15px;
    line-height: 13px;
    position: absolute;
    text-align: center;
    top: 1;
    width: 15px;
    font-size: 0.5rem;
}

.two:hover {
    color: #cd9854;
    transform: translateY(-10px);
    transition: 0.6s;
}

li {
    list-style: none;
    text-align: center;
}

.german {
    text-align: center;
    margin-right: 30px;
}

.german:hover {
    background-color: #cd9854;
    display: block;

}

.P9 {
    color: white;
    font-size: 0.9rem;
}

.ton1 {
    color: white;
    position: absolute;
    top: 50%;
}

.off-ul {
    display: flex;
    justify-content: space-around;
}

.off-ul ul {
    width: 50%;
}

.top {
    text-decoration: none;
    color: white;
}

.top:hover {
    color: #d49138;
}

.bottom {
    text-align: start;
     list-style-type: square;
    color: white;
    margin-left: 40px;
    margin-top: 3%;
    width: 200px;
}
.n1{
    color: #d49138;
    margin-left: 10%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.botto {
    text-align: start;
     list-style-type: square;
    color: white;
    margin-left: 40px;
    margin-top: 1%;
    width: 200px;
}
.n2{
    color: #d49138;
    /* margin-left: 5%; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.kid:hover{
    color: black;
}
.kid{
    color: white;
}
@media screen and (max-width:768px) {

    * {
        margin: 0px;
        padding: 0px;
    }

    #IMG {
        width: 100%;
    }

    .a1 {
        text-decoration: none;
        margin-right: 150px;
        display: inline;
        padding: 40px;
        color: white;
    }

    #ger {
        display: none;
    }

    .graph {
        font-size: 0.9rem;
    }

    .NOW {
        font-size: 1rem;
    }

    #email {
        width: 210px;
        padding: 4px;
    }

    .BUT {
        padding: 4px;
    }

    .M1 {
        top: 35%;
    }

    .M2 {
        top: 62%;
        left: 30%;
    }

    #I1 {
        margin-right: 20px;
    }

}